.events{
    
    margin-top: 60px;
    justify-content: space-between;

    &-card{
        max-width: 32.222%;
        position: relative;

        &:not(:last-child){
            margin-right: 30px;
        }

        img{
            width: 100%;
        }

        &-content{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 166px;
            width: 100%;
            background: rgba(209, 169, 84, 0.9);
            padding: 20px 15px;


        }

        &-inner{
            border: 1px solid rgba(255, 255, 255, 0.5);
            height: 100%;
        }
    }
}

.content{
    &-header{
        margin-top: 21px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3rem;
        color: #fff;
    }
    &-text{
        margin: 20px auto 0 auto;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
        max-width: 40%;
    }
}

.slider{
    &-controls{
        margin-top: 60px;
        position: relative;
    }
    &-buttons{
        
        max-width: 182px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        button{
            background-color: #fff;
            font-size: 10px;
        }
        
    }
}

.slider-dots{
    max-width: 150px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);;
    top: 0;
}
.dot{
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: #E5E5E5;
}

.tns-nav-active{
    background-color: #000;
}