.order{

    &-event{
        margin: 117px auto 0 auto;
        max-width: 1110px;
        justify-content: space-between;
    }

    &-left{
        display: inline-block;
        width: 49%;

        h2{
            font-family: 'Montserrat';
            font-size: 3.6rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            line-height: 1.45;
            color: #000000;
        }
        &>p{
            font-family: 'Montserrat';
            margin-top: 40px;
            color: #616161;
            font-size: 1.4rem;
            line-height: 135%;
            max-width: 520px;
            
        }
    }

    &-right{
        width: 48.5%;
        margin-top: 10px;
        

    }

    &-input-style,
    &-textarea{
        width: 100%;
        outline: none;
        margin-bottom: 25px;
        border-bottom: 1px solid #D0D0D0;
         &::placeholder{
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 1.4rem;
        color: #616161;
        
    }
    }
    &-text{
        padding-bottom: 13px;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 1.4rem;
        color: #000;
    }

    &-textarea{
        margin-top: 10px;
        margin-bottom: 18px;
        border: 1px solid #D0D0D0;
        resize: none;
        padding: 15px 19px;
    }

    &-submit{
        font-family: 'Montserrat';
        outline: none;
        background: #D1A954;
        padding: 13px 35px;
        letter-spacing: 0.05rem;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 135%;
        text-transform: uppercase;
        color: #FFFFFF;


    }
   
}

.addresses{
    margin-top: 57px;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item{
        
        max-width: 50%;

        h5{
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
            font-size: 1.6rem;
            margin-bottom: 34px;
        }
    }
}

.address-details{
    &:not(:last-child)
    {
        margin-bottom: 25px;
    }
    img, p, a{
        display: inline-block;
    }

    img{
        margin-right: 23px;
        width: 30px;
    }
    p, a{
        max-width: 200px;
        color: #000000;
        font-size: 1.4rem;
        // padding-top: 5px;
    }
    a{
        text-decoration: none;
    }
    p{
        letter-spacing: -0.02em;
text-decoration-line: underline;
    }
}